<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body ng-controller="mainCtrl as up">
    <h1>Hello world h1 tag</h1>
    <h2>controller - {{controllerTest}}</h2>
    <h2>service - {{serviceTest}}</h2>

    <form name="up.upload_form">
        <input type="text" ng-model="up.text" name="text" required>
        <input type="file" ngf-select ng-model="up.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB">        Image thumbnail: <img style="width: 100px;" ngf-thumbnail="up.file || '/thumb.jpg'" />
        <button type="submit" ng-click="up.submit()">submit</button>
    </form>
    <div ng-if="newImg !== undefined">
        <h1>new Image: {{newImg}}</h1>
        <img style="width: 300px" src="{{newImg}}" />
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
    <script src="app.js"></script>
    <script src="mainCtrl.js"></script>
    <script src="mainSrv.js"></script>
</body>

</html>